<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<p>
  <b><%= @test_passage.current_question.body %></b>
</p>

<% if @test_passage.test.timer.present? %>
  <h1></h1>
  <div id="countdown">
    <%= content_tag :span, "", class: "clock", data: { end_time: @test_passage.end_time } %>
    <span class="minutes"></span>
    <span class="seconds"></span>
  </div>
<% end %>

<p>
  All questions <%= @test_passage.test.questions.count %>.  Current question <%= @test_passage.counter %>
</p>

<%= form_with url: test_passage_path(@test_passage), locale: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :variant, include_hidden: false do |b| %>
  <p>
    <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    <%= b.label %>
  </p>
  <% end %>

  <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit 'Next', class: 'progress-bar', data: { progress: @test_passage.counter } %></p>
  <progress id="progress" value="0" max="<%= @test_passage.test.questions.count %>"></progress>
<% end %>
